---
import type { CollectionEntry } from "astro:content";

export type BlogPostProps = {
  entry: CollectionEntry<"blog">;
};

const { entry } = Astro.props as BlogPostProps;

const item = entry.data;
const pubDate = new Date(item.pubDate).toLocaleDateString("en-US", {
  year: "numeric",
  month: "long",
  day: "numeric",
});
---

<article class="flex flex-col">
  <div class="flex justify-between">
    <a href={`/blog/${entry.slug}`} aria-label={item.description}>
      <h4
        class="scroll-m-20 text-md font-semibold tracking-tight hover:underline"
        transition:name={`blog-${entry.slug}`}
      >
        {item.title}
      </h4>
    </a>
    <time
      datetime={item.pubDate.toISOString()}
      class="text-sm text-neutral-500"
    >
      {pubDate}
    </time>
  </div>
  <p class="text-sm text-muted-foreground truncate">{item.preview}</p>
</article>
